name: Test Container
on:
  push:

jobs:
  Test-Container:
    runs-on: ubuntu-latest

    steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Build Image
          run: docker build . --file Dockerfile -t shape2open:test
        - name: Run Tests on Image
          run: docker run --entrypoint '/app/test.sh' -v $PWD/sample-data/:/data shape2open:test 
        - name: Check Test Files
          run: '(test -d sample-dataa/ && echo Directory sample-data/ exists.) || echo Error: Directory sample-data/ does not exists. && exit 1'

